@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #706F6F;
  --color-shadow: #F3F3F3;
  --color-latest: #D72050;
  --color-deepShadow: #E7E7E7;
  --color-accent: #9F9F9F;
  --color-login: #403F3F;



}
a.active{
  @apply bg-blue-300
}